body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}


.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: none;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: 1px;
}
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: 1px;
}

.btn-class{
  min-width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: '2';
  border-radius: 4px;
  margin: 0 10px;
}
.btn-class.active{
  background-color: rgb(5, 5, 151, 0.4);
}

.searchBar{
  padding: 0.5em 0.7em;
  border: 2px solid transparent;
  outline: none;
}
.searchBar:focus{
  border: 2px solid rgb(5, 5, 151);
}
.search-btn{
  padding: 0.5em 0.7em;
  border: 2px solid transparent;
  outline: none;
  background-color: white;
}
.bi-search{
  color: black;
}
.search-btn:hover{
  border: 2px solid rgb(5, 5, 151);
}
.search-btn:active{
  background-color: rgb(5, 5, 151);
  transform: scale(0.90);
}

.search-btn:active .bi-search{
  color: white;
}

.current-data-style{
  flex-basis: 70%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  border-radius: 5px;
}

.current-sun-style{
  border-radius: 5px;
  flex-basis:28%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 992px) {
  .current-data-style{
    flex-basis: 55%;
  }
  .current-sun-style{
    flex-basis:43%;
  }

}

.forecast-container{
  flex-basis:70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  color: white;
}